<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tindog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67982CEA204EE6A800FFA635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67982CFE204EE6A800FFA635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67982D09204EE6A800FFA635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
